.div1{
    display: flex;
    justify-content: center;
}
.div2{
    display: flex;
    justify-content: center;
    width: 170px;
    margin: 10px auto;
    justify-content: space-between;
}
.btn-red{
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.btn-green{
    background-color: #00ff00;
    border-color: #00ff00;
    box-shadow: 0 0 10px #00ff00;
}
button{
    width: 75px;
    height: 40px;
    border-radius: 6px;
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.text{
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    border-radius: 8px;
    padding: 6px;
    transition: all 0.3s ease;
}
.text:hover{
    outline: none;
    background-color: #00ff00;
    border-color: #00ff00;
    box-shadow: 0 0 10px #00ff00;
    border-radius: 8px;
}
.text:focus{
    outline: none;
    background-color: #00ff00;
    border-color: #00ff00;
    box-shadow: 0 0 10px #00ff00;
    border-radius: 8px;
}